.hero {
    background: linear-gradient(to bottom, #0056 20%, #005), url(../img/van.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: 700;
    margin-top: 3rem;
}

.hero .container {
    display: grid;
    align-items: end;
    justify-items: start;
    grid-template-rows: 1fr auto;
    padding-block: 3rem;
    height: calc(100svh - 3rem);
}

.hero__title1 {
    font-size: 2rem;
}

.hero__title2 {
    font-size: 7rem;
}

.hero__title3 {
    font-size: 2rem;
}